<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    margin-top: 0px;
}

.gjs-am-file-uploader > form {
    min-height: 325px !important;
}

.form {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

.input {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 76, 87);
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.textarea {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 76, 87);
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.label {
    width: 100%;
    display: block;
}

.button {
    width: 100%;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    background-color: rgb(120, 85, 128);
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-size: 1em;
    cursor: pointer;
}
</style>




<form class="form">
    <div class="form-group">
        <label class="label">Name</label>
        <input placeholder="Type here your name" class="input" />
    </div>
    <div class="form-group">
        <label class="label">Email</label>
        <input type="email" placeholder="Type here your email" class="input"
        />
    </div>
    <div class="form-group">
        <label class="label">Gender</label>
        <input type="checkbox" value="M" class="checkbox" />
        <label class="checkbox-label">M</label>
        <input type="checkbox" value="F" class="checkbox" />
        <label class="checkbox-label">F</label>
    </div>
    <div class="form-group">
        <label class="label">Message</label>
        <textarea class="textarea"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="button">Send</button>
    </div>
</form>